@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-zinc-100;
    @apply dark:bg-zinc-900;
  }

  p {
    @apply text-zinc-900;
    @apply dark:text-zinc-100;
  }

  .nav-button {
    -webkit-tap-highlight-color: transparent;
    @apply hover:scale-125;
    @apply transform;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
    @apply text-zinc-500;
    @apply dark:text-zinc-400;
    @apply hover:text-zinc-700;
    @apply hover:dark:text-zinc-200;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cad0d3;
}

::-webkit-scrollbar-thumb {
  background-color: #cad0d3;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #cad0d3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8b5b8;
}
